{{navbar}}
<header>
    <div class="max-width">
        <div class="left-content">
            <h1 class="title"><span class="loop-words" data-words="Desenvolva,Organize,Crie,Personalize,Gerencie,Controle,Inove"></span> suas<br>planilhas de forma intuitiva e eficaz em um único lugar!</h1>
            <div class="buttons">
                <a href="#" class="button">Começar agora</a>
            </div>
        </div>
        <div class="right-content">
            <img src="https://vericode.com.br/static/190803f815ccd62c81ffda09b071ef28/15d25/observability.png">
        </div>
    </div>
</header>